---
import { Sprite } from 'astro-icon';
import HomeNavigation from '~/components/HomeNavigation.astro';
import IconAnchor from '~/components/IconAnchor.astro';
import ImagePro from '~/components/ImagePro.astro';
import HomeLayout from '~/layouts/HomeLayout.astro';

const imagesModules = import.meta.glob('../images/*.jpg');

const imagesList = Object.entries(imagesModules)
  .filter(([key]) => !key.includes('/0.jpg'))
  .map(([, entries]) => {
    return entries;
  });

const socialLinks = [
  {
    name: 'instagram',
    title: 'sidthecool007',
    href: 'https://www.instagram.com/sidthecool007',
  },
  {
    name: 'unsplash',
    title: '@siddacool',
    href: 'https://unsplash.com/@siddacool',
  },
  {
    name: 'mail',
    title: 'sidmangelainc@gmail.com',
    href: 'mailto:sidmangelainc@gmail.com?subject=Foto:',
  },
];
---

<HomeLayout>
  <Sprite.Provider>
    <main>
      <div class="bgCover">
        <ImagePro
          src={import('~/images/0.jpg')}
          widths={[400, 640, 800, 930, 1050]}
          sizes="(min-width: 1100px) 1050w, calc(100w - 16px)"
        />
      </div>
      <div class="hero">
        <div class="description">Photos by</div>
        <div class="name">Siddhesh Mangela</div>
        <div class="social-links">
          {
            socialLinks.map(({ name, title, href }) => (
              <IconAnchor name={name} title={title} href={href} />
            ))
          }
        </div>
      </div>

      <HomeNavigation />

      <div class="imagesSet">
        {imagesList.map((imgImport) => <ImagePro src={imgImport()} />)}
      </div>
      <div class="social-links-extended">
        {
          socialLinks.map(({ name, title, href }) => (
            <IconAnchor name={name} title={title} href={href} showTitle />
          ))
        }
      </div>
    </main>
  </Sprite.Provider>
</HomeLayout>

<style lang="scss">
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .hero {
    padding: 32px 0;

    @media (min-width: 640px) {
      position: absolute;
      display: flex;
      flex-direction: column;
      padding: 0;
      top: 114px;
      color: var(--color-text-hero);
    }

    @media (min-width: 1100px) {
      max-width: 1050px;
      margin-left: 408px;
    }

    .name {
      display: flex;
      justify-content: center;
      font-size: clamp(1.7rem, 2.4vw, 2rem);
      padding-bottom: 21px;

      @media (min-width: 640px) {
        font-size: 2rem;
      }

      @media (min-width: 1100px) {
        font-size: 3rem;
      }
    }

    .description {
      font-size: 1.1rem;
      text-align: center;
      margin-bottom: 16px;

      @media (min-width: 640px) {
        margin-bottom: 8px;
        font-size: 1.3rem;
      }

      @media (min-width: 1100px) {
        text-align: right;
      }
    }

    .social-links {
      display: flex;
      justify-content: center;

      @media (min-width: 1100px) {
        justify-content: flex-end;
      }

      :global(a) {
        margin-right: 48px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .social-links-extended {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 1100px) {
      flex-direction: row;
      justify-content: center;
      font-size: 1.1rem;
    }

    :global(a) {
      margin-bottom: 32px;

      @media (min-width: 1100px) {
        margin-left: 48px;
      }

      &:last-child {
        @media (min-width: 1100px) {
          margin-right: 0;
        }
      }
    }

    :global(svg) {
      width: 16px;
      height: 16px;
    }
  }

  .bgCover {
    width: 100%;

    @media (min-width: 640px) {
      margin-bottom: 40px;
    }

    @media (min-width: 1100px) {
      max-width: 1050px;
    }

    :global(img) {
      @media (min-width: 1100px) {
        max-height: 70vh;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  .imagesSet {
    width: 100%;
    @media (min-width: 1100px) {
      max-width: 930px;
    }

    :global(.ImagePro) {
      margin-bottom: 40px;
    }
  }
</style>
