---
import ImagePro from '~/components/ImagePro.astro';

export interface Props {
  src: any;
  widths?: number[];
  sizes?: string;
  alt?: string;
  side?: 'left' | 'right';
  imageDisplay?: 'normal' | 'large';
}

const { src, widths, sizes, alt, side = 'left', imageDisplay = 'normal' } = Astro.props as Props;
---

<article>
  <section class={`profile-pic side--${side} imageDisplay--${imageDisplay}`}>
    <ImagePro src={src} widths={widths} sizes={sizes} alt={alt} />
  </section>

  <section class={`description side--${side}`}>
    <slot />
  </section>
</article>

<style lang="scss">
  article {
    padding-bottom: 20px;
    @media (min-width: 1100px) {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      justify-content: space-between;
    }
  }

  .profile-pic {
    width: 100%;
    max-width: 320px;
    overflow: hidden;
    margin: 0 auto;

    @media (min-width: 1100px) {
      display: flex;
      max-width: initial;
      width: 360px;
      height: 360px;
      margin: 0;
    }

    @media (min-width: 1600px) {
      width: 400px;
      height: 400px;
    }

    &.imageDisplay {
      &--large {
        @media (min-width: 1600px) {
          width: 430px;
          height: 430px;
        }
      }
    }

    &.side {
      &--right {
        order: 2;

        :global(img) {
          clip-path: polygon(92% 9%, 0% 25%, 18% 100%, 99% 93%);
        }
      }
    }

    :global(img) {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
      clip-path: polygon(5% 6%, 98% 18%, 80% 99%, 6% 96%);
    }
  }

  .description {
    flex: 1;
    line-height: 2.7rem;
    letter-spacing: 0.6px;
    padding-top: 20px;

    @media (min-width: 1100px) {
      padding-top: 40px;
      max-width: 550px;
    }

    &.side {
      &--right {
        order: 1;
      }
    }
  }
</style>
