---
import BaseLayout from './BaseLayout.astro';
import BottomNavigation from '~/components/BottomNavigation.astro';

export interface Props {
  title?: string;
  description?: string;
  ogTitle?: string;
  ogDescription?: string;
  ogImage?: string;
}

let {
  title = 'Books: Photos by Siddhesh Mangela',
  description = 'Photography and art projects.',
  ogTitle = '',
  ogDescription = '',
  ogImage = 'https://siddheshmangela.com/og-images/og.jpg',
} = Astro.props as Props;
---

<BaseLayout
  title={title}
  description={description}
  ogTitle={ogTitle}
  ogDescription={ogDescription}
  ogImage={ogImage}
>
  <main>
    <slot />
  </main>
  <BottomNavigation />
</BaseLayout>

<style is:global>
  :root {
    color-scheme: dark;
    --color-text: #afafaf;
    --color-bg: #222224;
    --color-border-1: #414141;
    --color-link-1: #8a96f4;
  }

  body {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    min-height: 100vh;
  }
</style>

<style lang="scss">
  main {
    max-width: 1050px;
    padding: 16px;
    margin: 0 auto;
  }
</style>
